/* Styles go here */


.thing {
  display: inline-block;
  width: 40px;
  height: 20px;
  font-size: 12px;
  background: linear-gradient(#888, #888, #777);
  border-bottom: 15px solid #555;
  border-radius: 2px;
  margin: 1px;
  padding: 5px;
  padding-top: 8px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  box-shadow: 0 4px 4px #bbb, inset 0 0 2px #fff;
  margin-bottom: 20px;
}

.thingContainer {
  -webkit-transform: scale(2) rotateX(40deg);
  width: 370px;
  margin: 0 auto;
  margin-top: 10%;
}

body{
  font-family: sans-serif;
  text-align: center;
}

.thing {
  font-family: sans-serif;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background: linear-gradient(#888, #888, #777);
  border-bottom: 10px solid #555;
  border-radius: 3px;
  margin: 1px;
  padding: 5px;
  padding-top: 8px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .05s;
  -webkit-user-select: none;
  box-shadow: 0 4px 4px #bbb, inset 0 0 2px #fff;
  margin-bottom: 20px;
}


.row{
    position: fixed;
}

.row1{
  margin-left: 0px;
  z-index: 1;
  top: 0px;
}

.row2{
  margin-left: 20px;
  z-index: 2;
  top: 40px;
}
.row3{
  margin-left: 40px;
  z-index: 3;
  top: 80px;
}
.row4{
  margin-left: 60px;
  top: 120px;
  z-index: 4;
}
.bar{
  width: 200px;
}
.active {
  transform: translateY(7.5px);
  border-bottom: 2px solid #666;
  box-shadow: 0px 1px 1px #bbb, inset 0 0 2px #ccc;
}